/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"); */

* {
  margin: 0px;
  /* padding: 5px;  */
  font-family: "Josefin Sans", Tahoma, sans-serif;
  font-weight: 500;
  color: rgb(251, 215, 72);
}
/* 1rem=16 px */
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 16px 8px;
}
i {
  padding: 16px 8px;
}
a.brand {
  color: white;
  padding: 0 3rem;
}
.nav-menu a {
  text-transform: uppercase;
  padding: 0 3rem;
}
ul {
  list-style: none;
}
html {
  font-size: 62.5%; /*1 rem= 10 px*/
}
body {
  background-color: black;
  color: white;

  font-size: 1.6rem;
  /*1 rem = 16 px*/
  width: 100%;
}

p {
  margin-left: 1em;
}
.active {
  color: white;
}

.nav-item:hover {
  color: white;
  transition: color 0.9s ease;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.nav-menu ul {
  display: flex;
  /* flex-direction: column; */
}
.nav-social-menu ul {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  padding: 0 3rem;
}

.container {
  display: flex; /*row*/
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 9.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 100;
  background-color: black;
}

.category1 {
  background: url("images/html.jpg") center no-repeat;
  background-size: cover;
}
.category2 {
  background: url("images/javascript.jpg") center no-repeat;
  background-size: cover;
}
.category3 {
  background: url("images/techwriting.jpg") center no-repeat;
  background-size: cover;
}
.category4 {
  background: url("images/poems.jpg") center no-repeat;
  background-size: cover;
}
.category5 {
  background: url("images/art.jpg") center no-repeat;
  background-size: cover;
}
.category6 {
  background: url("images/music.jpg") center no-repeat;
  background-size: cover;
}

.main {
  margin-top: 12rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  padding: 0 3rem;
  height: 100%;
}

.section {
  width: 100%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  filter: grayscale(100%);
  transition: filter 0.9 linear;
}
.section:hover {
  filter: grayscale(0%);
}

.section a {
  border: 2px solid white;
  margin: 2rem;
  font-weight: bold;
  color: white;
  padding: 1.6rem 2.6rem;
}

.section a:hover {
  background-color: white;
  color: black;
}

#subsol {
  font-size: 18px;
}
