/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 50px;
  background-color: rgba(191, 228, 171, 0.456);
}

.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8b1b1;
  border: 1px solid #1d68c4;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  margin-right: 10px;
}

.button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

table {
  table-layout: fixed;
  width: 100%;
}

/* table styling */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  justify-content: space-evenly;
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.main-table-header {
  border-radius: 1em;
  background-color: rgba(15, 181, 93, 0.417);
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.caption {
  color: white;
  font-weight: bold;
  font-size: 25px;
  background-color: #1abc9c;
  border-radius: 1em;
  align-items: center;
}

h2 {
  margin-left: 18%;
}
.sortClass {
  display: inline;
  margin-top: 20px;
}

#root {
  text-align: center;
}
#submit {
  position: relative;
}

#add-product {
  margin-left: 5%;
}
